# New York City Airbnb Open Data

# Idea: Cleaning Data

# Description:

Data cleaning is the process of fixing or removing incorrect, corrupted, duplicate, or incomplete
data within a dataset. Messy data leads to unreliable outcomes. Cleaning data is an essential
part of data analysis, and demonstrating your data cleaning skills is key to landing a job. Here
are some projects to test out your data cleaning skills:

# Key Concepts and Challenges:

1.Data Integrity: Ensuring the accuracy, consistency, and reliability of data throughout the
cleaning process.

2.Missing Data Handling: Dealing with missing values by either imputing them or making
informed decisions on how to handle gaps in the dataset.

3.Duplicate Removal: Identifying and eliminating duplicate records to maintain data
uniqueness.

4.Standardization: Consistent formatting and units across the dataset for accurate analysis.

5.Outlier Detection: Identifying and addressing outliers that may skew analysis or model
performance.

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [2]:
df = pd.read_csv('AB_NYC_2019.csv')

#  Data Integrity

In [3]:
print (df)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [4]:
print(df.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [5]:
print(df.tail())

             id                                               name   host_id  \
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
48890                 9
48891                36
48892                27
48893                 2
48894                23

In [6]:
df.shape

(48895, 16)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [8]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [26]:
duplicate_hosts = df[df.duplicated(['host_id'], keep=False)]
print("Duplicate host entries:\n", duplicate_hosts)

Duplicate host entries:
              id                                             name    host_id  \
0          2539               Clean & quiet apt home by the park       2787
1          2595                            Skylit Midtown Castle       2845
9          5238               Cute & Cozy Lower East Side 1 bdrm       7549
12         5803   Lovely Room 1, Garden, Best Area, Legal rental       9744
19         7750                Huge 2 BR Upper East  Cental Park      17985
...         ...                                              ...        ...
48887  36483152  Garden Jewel Apartment in Williamsburg New York  208514239
48889  36484363                               QUIT PRIVATE HOUSE  107716952
48890  36484665  Charming one bedroom - newly renovated rowhouse    8232441
48891  36485057    Affordable room in Bushwick/East Williamsburg    6570630
48893  36485609             43rd St. Time Square-cozy single bed   30985759

      host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0          John            Brooklyn          Kensington  40.64749  -73.97237
1      Jennifer           Manhattan             Midtown  40.75362  -73.98377
9           Ben           Manhattan           Chinatown  40.71344  -73.99037
12       Laurie            Brooklyn         South Slope  40.66829  -73.98779
19         Sing           Manhattan         East Harlem  40.79685  -73.94872
...         ...                 ...                 ...       ...        ...
48887     Melki            Brooklyn        Williamsburg  40.71232  -73.94220
48889   Michael              Queens             Jamaica  40.69137  -73.80844
48890   Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853  -73.94995
48891   Marisol            Brooklyn            Bushwick  40.70184  -73.93317
48893       Taz           Manhattan      Hell's Kitchen  40.75751  -73.99112

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room    149               1                  9  2018-10-19
1      Entire home/apt    225               1                 45  2019-05-21
9      Entire home/apt    150               1                160  2019-06-09
12        Private room     89               4                167  2019-06-24
19     Entire home/apt    190               7                  0  2019-06-23
...                ...    ...             ...                ...         ...
48887  Entire home/apt    170               1                  0  2019-06-23
48889     Private room     65               1                  0  2019-06-23
48890     Private room     70               2                  0  2019-06-23
48891     Private room     40               4                  0  2019-06-23
48893      Shared room     55               1                  0  2019-06-23

       reviews_per_month  calculated_host_listings_count  availability_365
0               0.210000                               6               365
1               0.380000                               2               355
9               1.330000                               4               188
12              1.340000                               3               314
19              1.373221                               2               249
...                  ...                             ...               ...
48887           1.373221                               3               365
48889           1.373221                               2               163
48890           1.373221                               2                 9
48891           1.373221                               2                36
48893           1.373221                               6                 2

[16584 rows x 16 columns]

In [27]:
unique_neighbourhood_groups = df['neighbourhood_group'].unique()
print("Unique neighbourhood groups:\n", unique_neighbourhood_groups)

Unique neighbourhood groups:
 ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

# Missing Data Handling

In [9]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d', errors='coerce')

In [14]:
print(df['last_review'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 48895 entries, 0 to 48894
Series name: last_review
Non-Null Count  Dtype
--------------  -----
38843 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 382.1 KB
None

In [15]:
df['reviews_per_month'].fillna(df['reviews_per_month'].mean(), inplace=True)

In [19]:
value_counts = df['last_review'].value_counts()
print("Value frequencies in last_review:\n", value_counts)

Value frequencies in last_review:
 last_review
2019-06-23    1413
2019-07-01    1359
2019-06-30    1341
2019-06-24     875
2019-07-07     718
              ...
2012-12-25       1
2013-10-01       1
2014-05-29       1
2014-04-19       1
2018-03-29       1
Name: count, Length: 1764, dtype: int64

In [20]:
most_common_value = value_counts.idxmax()
df['last_review'].fillna(most_common_value, inplace=True)

In [21]:
missing_values_after = df['last_review'].isnull().sum()
print("Number of missing values in last_review after filling:", missing_values_after)

Number of missing values in last_review after filling: 0

In [22]:
df.isnull(). sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [23]:
df.dropna(inplace = True)

In [24]:
df.isnull(). sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

# Remove Duplicate

In [31]:
duplicates = df[df.duplicated(subset=['id', 'host_id'], keep=False)]
print("Duplicate entries:\n", duplicates)

Duplicate entries:
 Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [32]:
df.sort_values('last_review', ascending=False, inplace=True)
df.drop_duplicates(subset=['id'], keep='first', inplace=True)

In [33]:
print("Number of duplicates removed:", len(duplicates) - len(df[df.duplicated(subset=['id'], keep=False)]))

Number of duplicates removed: 0

# Standardization

In [35]:
# Standardize room_type values
df['room_type'] = df['room_type'].str.lower().str.strip()
print(df['room_type'])

44459    entire home/apt
22469       private room
36811    entire home/apt
40012    entire home/apt
46061    entire home/apt
              ...
143         private room
125         private room
330         private room
163         private room
317         private room
Name: room_type, Length: 48858, dtype: object

In [40]:
df['price'] = pd.to_numeric(df['price'].replace('','[\$]', regex=True), errors='coerce')
print(df['price'] )

44459    100
22469     48
36811     88
40012     79
46061    325
        ...
143      140
125       90
330      249
163      250
317       55
Name: price, Length: 48858, dtype: int64

In [42]:
# Standardize minimum_nights to be non-negative
df['minimum_nights'] = df['minimum_nights'].clip(lower=0)

# Outlier Detection

In [43]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

In [44]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [45]:
outliers = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)]
print("Identified outliers:\n", outliers)

Identified outliers:
              id                                               name    host_id  \
46925  35491013     Cozy Apartment Located in Midtown/Times Square  267009547
34555  27398782      WeLive Wall Street -- Four Bedroom / Two Bath  159610596
48740  36413632         Spacious 2BR in Beautiful Brooklyn Heights    6608220
19241  15324045  TOWNHOUSE  (Backyard/Rooftop + Photoshoots/Eve...    9049657
9986    7679236          Belle Harbor 4 BR 2 bath- 1 bl from Beach   40327248
...         ...                                                ...        ...
3478    2082694                            Brand New 3BR Apartment   10638711
419      141890                         LUXURY SOHO 2 Bedroom Apt      689661
2698    1448703                Beautiful 1 Bedroom in Nolita/Soho      213266
1433     644464                 Loft Room in Heart of Williamsburg    3225114
1426     640589                     Sweet Super Bowl Accomodations    3198479

      host_name neighbourhood_group       neighbourhood  latitude  longitude  \
46925     Jerry           Manhattan      Hell's Kitchen  40.76430  -73.98760
34555    WeWork           Manhattan  Financial District  40.70448  -74.00615
48740      Matt            Brooklyn    Brooklyn Heights  40.69827  -73.99649
19241  Benjamin            Brooklyn            Bushwick  40.69003  -73.90891
9986     Sarina              Queens            Neponsit  40.57215  -73.85822
...         ...                 ...                 ...       ...        ...
3478      Corey            Brooklyn        Williamsburg  40.70958  -73.94287
419     Allison           Manhattan              Nolita  40.72255  -73.99346
2698    Jessica           Manhattan              Nolita  40.72193  -73.99379
1433       Ryan            Brooklyn        Williamsburg  40.71827  -73.96259
1426       Gina           Manhattan        West Village  40.73727  -74.00213

             room_type  price  minimum_nights  number_of_reviews last_review  \
46925  entire home/apt    395               3                  2  2019-07-07
34555  entire home/apt    525               1                 25  2019-07-07
48740  entire home/apt    550               3                  1  2019-07-07
19241  entire home/apt    390               1                131  2019-07-07
9986   entire home/apt    350               2                  5  2019-07-07
...                ...    ...             ...                ...         ...
3478   entire home/apt    700               3                  1  2014-01-02
419    entire home/apt    375               3                 18  2013-10-01
2698   entire home/apt   5000               1                  2  2013-09-28
1433      private room    350               2                  3  2012-09-23
1426   entire home/apt    700               5                  1  2012-09-18

       reviews_per_month  calculated_host_listings_count  availability_365
46925               2.00                               1               152
34555               2.53                               6               203
48740               1.00                               1               230
19241               4.11                               1               321
9986                2.88                               1               334
...                  ...                             ...               ...
3478                0.01                               1                 0
419                 0.21                               1                 0
2698                0.03                               1               365
1433                0.04                               1               365
1426                0.01                               1               365

[2971 rows x 16 columns]

In [46]:
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

#  Geographical Data Validation

In [47]:
invalid_lat = df[(df['latitude'] < 40.5) | (df['latitude'] > 45.0)]
invalid_lon = df[(df['longitude'] < -74.0) | (df['longitude'] > -73.5)]

print("Invalid latitude entries:\n", invalid_lat)
print("Invalid longitude entries:\n", invalid_lon)

Invalid latitude entries:
              id                               name   host_id host_name  \
14119  10830083  Beautiful well kept private home!  56078939      Tony

      neighbourhood_group neighbourhood  latitude  longitude     room_type  \
14119       Staten Island   Tottenville  40.49979  -74.24084  private room

       price  minimum_nights  number_of_reviews last_review  \
14119    110               2                  0  2019-06-23

       reviews_per_month  calculated_host_listings_count  availability_365
14119           1.373221                               1               364
Invalid longitude entries:
              id                                               name    host_id  \
42831  33250984       Large private bedroom in prime West Village!  250374011
28041  21901025        house on the hill with free parking in NYC!    1483578
43699  33810599   Furnished modern studio luxury elevator building   28175069
42844  33265526  Sunset Park Retreat - 3 blocks from train stat...    5325489
1424     639199    Beautiful 4BR/4BA Home, Staten Island, NY City.    1483081
...         ...                                                ...        ...
429      148201                  NYC - Sunny Greenwich Village 1br     715807
777      278631                West Village NYC Sun-filled Studio!    1132207
2134     981410                   Sunny Studio in the West Village    5374768
783      281521                           Amazing West Village 2br      70614
924      344019                Best West Village/Meatpacking Space    1746209

         host_name neighbourhood_group       neighbourhood  latitude  \
42831         Lisa           Manhattan        West Village  40.73261
28041  Spiritchild       Staten Island          St. George  40.64537
43699       Leanne           Manhattan  Financial District  40.71138
42844        Julie            Brooklyn         Sunset Park  40.64997
1424        Marina       Staten Island         Tottenville  40.50868
...            ...                 ...                 ...       ...
429           John           Manhattan   Greenwich Village  40.72831
777       Cathryne           Manhattan        West Village  40.73729
2134         Maria           Manhattan        West Village  40.73331
783          Vimal           Manhattan        West Village  40.73879
924             R.           Manhattan        West Village  40.73104

       longitude        room_type  price  minimum_nights  number_of_reviews  \
42831  -74.01043     private room    120               2                 12
28041  -74.08381     private room    100               2                 77
43699  -74.00834  entire home/apt    160               4                  3
42844  -74.00626  entire home/apt    135               2                  9
1424   -74.23986  entire home/apt    299               3                 59
...          ...              ...    ...             ...                ...
429    -74.00177  entire home/apt    175               3                 18
777    -74.00807  entire home/apt    250              30                  7
2134   -74.00471  entire home/apt    170               4                  1
783    -74.00425  entire home/apt    200              27                  1
924    -74.00879     private room    195               1                  7

      last_review  reviews_per_month  calculated_host_listings_count  \
42831  2019-07-08               3.91                               1
28041  2019-07-08               3.90                               1
43699  2019-07-08               1.38                               1
42844  2019-07-08               5.19                               1
1424   2019-07-08               0.82                               1
...           ...                ...                             ...
429    2013-05-31               0.19                               1
777    2013-04-21               0.08                               1
2134   2013-04-09               0.01                               1
783    2012-10-02               0.01                               1
924    2012-06-07               0.08                               1

       availability_365
42831                35
28041               336
43699                 0
42844               266
1424                245
...                 ...
429                   0
777                  35
2134                273
783                   0
924                 129

[3142 rows x 16 columns]

In [48]:
df = df[~((df['latitude'] < 40.5) | (df['latitude'] > 45.0) | 
           (df['longitude'] < -74.0) | (df['longitude'] > -73.5))]

# Handling Categorical

In [49]:
room_type_mapping = {
    'entire home/apt': 'entire home',
    'shared room': 'shared room',
    'private room': 'private room'
}

In [51]:
df['room_type'] = df['room_type'].replace(room_type_mapping)

In [52]:
room_type_counts = df['room_type'].value_counts()
low_frequency_types = room_type_counts[room_type_counts < 50].index
df['room_type'].replace(low_frequency_types, 'other', inplace=True)